<html>
  <head>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', "<%= ENV["GA_TAG"]%>");
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <meta served_by_node="<%= ENV["INSTANCE_INDEX"] %>">
  </head>
  <body>
    <h1>Hello!</h1>
    <table>
      <tr><th>City</th><th>Favourite Beer Type</th><tr>
      <tr><td>Cologne</td><td>Kölsch</td><tr>
      <% data.each do |beer| %>
        <tr><td><%= beer[:region] %></td><td><%= beer[:brand] %></td><tr>
      <% end %>
    </table>

    <form method="post" action="/create">
    Region:<br>
    <input type="text" name="region"><br>
    Type:<br>
    <input type="text" name="brand">
    <br>
    <input type="submit"/>
  </form>
  </body>
</html>
